/* First stuff */
html{
	background: #cdb;
}
h1{
	font-size: 85px;
	margin: 20px 40px;
}
body{ 	/* site + background */
  font-size: 20px;
  padding: 0px;
  margin: 0px auto 0 auto;
  font-family: 'corbel','arial';
  background: #fff;
  color: #444; /* text colour */
  max-width: 1300px;
 }
table{
	width: 100%;
}
table,th,td{
    border: 1px solid black;
	border-collapse: collapse;
}
footer{
	background: #333;
	color: #fff;
	padding: .1em 3em;
	width: auto;	
}


/* Images*/
img{
	padding: 10px;
}
#title-image{
	width: 60%;
	margin: 10px auto 0px auto;
}
#image-div{
	margin: auto;
	float: none;
}
#photo{
	max-width: 30%; /* 100% is site width */
	border: 5px solid #617f57;
	padding: 0px;
	margin: 10px;
}
#gallery-photo{
	width: 100%;
}

/* Navbar */
#navbar{
	background-color: #617f57;
	list-style-type: none;
	overflow: hidden;
	width: auto;
	margin: 0px;
	font-family: 'corbel','arial';
	text-align: center;
}
#nav_li{
	float: left;
	display: inline;
	text-align: center;
}
#nav_a{
	text-decoration: none;	
	margin: 10px;
	display: inline-block;
	color: white;
}
#nav_a:hover, #nav_a:focus{
	color: #444;
}
#nav_a:active{
	position: relative;
	top:1px;
}


/* Other */
#main{
	padding: 0.5em 3em;
	margin-left: 10px;
}
#title_image{
	margin-top: 10px;
}
#quote{
	font-weight: bold;
	font-style: oblique;
}
#bold{
	font-weight: bold;
}
#neat_image{
	width: 550px;
	display: block;
	margin-left: auto;
    margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}




/* Media queries for smaller screens*/

@media screen and (max-width : 350px){
	/* reduce padding & margins */
	nav a{padding:.7em .7em; }
	footer {padding:1.5em; }
	body{margin: 0 auto; font-size:10px;}
	#photo{max-width: 90%}
	#title-image{width: 100%;}
	
	/* make navbar vertical */
	#nav_li{text-align: center; border-bottom: 1px solid #eee;}
	#nav_li, #navbar_a{width: 100%;}
	#nav_a{margin: 2px;}
	#navbar{padding: 0px;}
	h1{margin-top: 0px; font-size: 50px;}
}
